*{
    margin: 0;
    padding: 0;
}
body{
    background: url(multimedia/space2.0.jpg);
}
h1{
    color: azure;
    text-align: center;
}

/*navegacion derecha*/
/*#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid orange;
}
*/
#fp-nav ul li a.active span{
    background:orange;
    width: 30px;
    height: 30px;
}
#fp-nav ul li div.fp-tooltip  {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*..................................................*/
/*TITULOS DE LOS PLANETAS*/
/*..................................................*/
#titulomercurio{
    position: absolute;
    color: #93A8AC;
    left: 11%;
    top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulovenus{
    position: absolute;
    color: #93A8AC;
    left: 67%;
    top: 16%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulovenus1{
    position: absolute;
    color: #93A8AC;
    left: 13%;
    top: 19%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulotierra0{
    position: absolute;
    color: #93A8AC;
    left: 70%;
    top: 16%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulotierra{
    position: absolute;
    color: #93A8AC;
    left: 16.5%;
    top: 23%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tituloluna{
    position: absolute;
    color: #93A8AC;
    left: 74.5%;
    top: 28%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulotierra1{
    position: absolute;
    color: #93A8AC;
    left: 15%;
    top: 16%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulomarte{
    position: absolute;
    color: #93A8AC;
    left: 69%;
    top:18%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulomarte1{
    position: absolute;
    color: #93A8AC;
    left: 11.5%;
    top:30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#titulojupiter{
    position: absolute;
    color: #93A8AC;
    left: 65%;
    top:10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulojupiter1{
    position: absolute;
    color: #93A8AC;
    left: 13%;
    top:14%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulosaturno{
    position: absolute;
    color: #93A8AC;
    left: 66%;
    top: 16%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulosaturno1{
    position: absolute;
    color: #93A8AC;
    left: 15.5%;
    top:15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulourano{
    position: absolute;
    color: #93A8AC;
    left: 69%;
    top:20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#titulourano1{
    position: absolute;
    color: #93A8AC;
    left: 15%;
    top:16%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tituloneptuno{
    position: absolute;
    color: #93A8AC;
    left: 66%;
    top:16%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*......................................*/
/*POSICION PLANETAS EN MODELO 3D*/
/*......................................*/
#mercurio{
    position: absolute;
    left: 10%;
    top: 33%;
}
#venus{
    position: absolute;
    left: 60%;
    top: 24%;
}
#venus1{
    position: absolute;
    left: 9%;
    top: 33%;
}
#tierra0{
    position: absolute;
    left: 58%;
    top: 18%;
}
#tierra{
    position: absolute;
    left:8%;
    top: 30%;
}
#luna{
    position: absolute;
    left: 73%;
    top: 35%;
    transform: scale(0.9);
}
#tamañotierra1{
    position:absolute;
    left:3%;
    top: 18%;
}
#marte{
    position: absolute;
    left: 62%;
    top: 26%;
}
#marte1{
    position: absolute;
    left: 13%;
    top: 43%;
}
#jupiter{
    position: absolute;
    left: 51%;
    top: 5%;
}
#jupiter1{
    position: absolute;
    left: 1%;
    top: 13%;
}
#saturno{
    position:absolute;
    left: 57%;
    top: 19%;
}
#saturno1{
    position: absolute;
    left: 0%;
    top: 8%;
}
#urano{
    position: absolute;
    left: 58%;
    top: 21%;
}
#urano1{
    position: absolute;
    left: 2%;
    top: 16%;
}
#neptuno{
    position: absolute;
    left: 56%;
    top: 15%;
}

/*......................................*/
/*TAMAÑO DE LOS PLANETAS*/
/*......................................*/

#tamañomercurio{
    height: 180px;
    width: 180px;
    margin:0;
    padding:0;
}
#tamañovenus{
    height:300px;
    width: 300px;
    margin: 0;
    padding:0;
}
#tamañovenus1{
    height:210px;
    width: 210px;
    margin: 0;
    padding:0;
}
#tamañotierra0{
    height: 400px;
    width: 400px;
    margin:0;
    padding:0;
}
#tamañotierra{
    height: 340px;
    width:340px;
    margin: 0;
    padding:0;
}
#tamañoluna{
    height: 120px;
    width:120px;
    margin:0;
    padding:0;
}
#tamañotierra1{
    height: 400px;
    width: 400px;
    margin: 0;
    padding: 0;
}
#tamañomarte{
    height: 280px;
    width:280px;
    margin: 0;
    padding: 0;
}
#tamañomarte1{
    height:20px;
    width:20px;
    margin:0;
    padding: 0;
}
#tamañojupiter{
    height: 520px;
    width:520px;
    margin:0;
    padding:0;
}
#tamañojupiter1{
    height:480px;
    width:480px;
    margin:0 ;
    padding: 0;
}
#tamañosaturno{
    height:400px;
    width:400px;
    margin:0 ;
    padding: 0;
}
#tamañosaturno1{
    height:550px;
    width:550px;
    margin:0;
    padding: 0;
}
#tamañourano{
    height:380px;
    width:380px;
    margin:0 ;
    padding: 0;
}
#tamañourano1{
    height:450px;
    width:450px;
    margin:0;
    padding: 0;
}
#tamañoneptuno{
    height:450px;
    width:450px;
    margin:0;
    padding: 0;
}

/*......................................*/
/*LINEAS DE DISTANCA DE LOS PLANETAS*/
/*......................................*/
#lineadistanciaMV{
    width: 430px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 27%;
    top: 45%;
}
#lineadistanciaVT{
    width: 430px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 27%;
    top: 48%;
}
#lineadistanciaTL{
    width: 500px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 35%;
    top: 45%;
}
#lineadistanciaTM{
    width: 425px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 31%;
    top: 47%;
}
#lineadistanciaMJ{
    width: 405px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 23%;
    top: 45%;
}
#lineadistanciaJS{
    width: 320px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 34%;
    top: 47%;
}
#lineadistanciaSU{
    width: 260px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 40%;
    top: 47%;
}
#lineadistanciaUN{
    width: 320px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 35%;
    top: 48%
}
/*NAVEGACION DE DISTANCIAS TIERRA LUNA*/

#distanciaTL{
    position: absolute;
    left: 45%;
    top: 41%;
    width: 227px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul, li{
    list-style: none;
}
.nav li p{
    background: black;
    color: azure;
    padding: 8px 12px;
    display: block;
}
.nav > li{
    float: left;
}
.nav li p:hover{
    background-color: dimgray;
}
.nav li ul{
    display:none;
    position: absolute;
    max-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
h3{
    color: azure;
    background-color: black;
    text-align: center;
}
li > ul li p{
    font-size: 10px;
}
h3:hover{
    background-color: dimgray;
}
li{
    font-size: 16px;
}

/*.................................*/
/*POSICION DE LAS CARACTERISTICAS*/
/*................................*/

LI{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cam{
    position: absolute;
    left: 10%;
    bottom: 16%;
}
#cav{
    position: absolute;
    left: 63%;
    bottom: 12%;
}
#cav1{
    position: absolute;
    left: 10%;
    bottom: 14%;
}
#cat0{
    position: absolute;
    left: 64%;
    bottom: 12%;
}
#cat1{
    position: absolute;
    left: 9%;
    bottom: 11%;
}
#cama{
    position: absolute;
    left: 67%;
    bottom: 15%;
}
#cama1{
    position: absolute;
    left: 9%;
    bottom: 20%;
}
#caj{
    position: absolute;
    left: 60%;
    bottom: 11%;
}
#caj1{
    position: absolute;
    left: 9%;
    bottom: 9%;
}
#cas{
    position: absolute;
    left: 62%;
    bottom: 11%;
}
#cas1{
    position: absolute;
    left: 10%;
    bottom: 8%;
}
#cau{
    position: absolute;
    left: 64%;
    bottom: 12%;
}
#cau1{
    position: absolute;
    left: 11%;
    bottom: 9%;
}
#can{
    position: absolute;
    left: 65%;
    bottom: 10%;
}