*{
    margin: 0;
    padding: 0;
}
body{
    background: url(multimedia/space2.0.jpg);
}
h1{
    color: azure;
    text-align: center;
}
/*..................................................*/
                /*TIERRA LUNA*/
/*..................................................*/
#titulotierra{
    position: absolute;
    color: azure;
    left: 280px;
    top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tituloluna{
    position: absolute;
    color: azure;
    left: 1065px;
    top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tierra{
    position: absolute;
    /*transform: scale(2.5);*/
    left: 200px;
    top: 300px;
}
#tierra model-viewer{
    transform: scale(2.5);
}

#luna{
    position: absolute;
    left: 950px;
    top: 150px;
    transform: scale(0.9);
}
#lineadistancia{
    width: 450px;
    height: 5px;
    background-color: gray;
    position: absolute;
    left: 555px;
    top: 240px;
}

/*NAVEGACION DE DISTANCIAS TIERRA LUNA*/

#distancia{
    position: absolute;
    left: 660px;
    top: 180px;
    width: 227px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul, li{
    list-style: none;
}
.nav li p{
    background: black;
    color: azure;
    padding: 8px 12px;
    display: block;
}
.nav > li{
    float: left;
}
.nav li p:hover{
    background-color: dimgray;
}
.nav li ul{
    display:none;
    position: absolute;
    max-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
h3{
    color: azure;
    background-color: black;
    text-align: center;
}
li > ul {
    font-size: 10px;
}
h3:hover{
    background-color: dimgray;
}
