*{
    margin: 0;
    padding: 0;
}
body{
    /* background: url(multimedia/space2.0.jpg); */
    background: url(multimedia/2k_stars.jpg);
}
@font-face {
    font-family:nebula;
    src: url(/CSS/fuentes/nebula.ttf);
}
h1{
    color: orange;
    text-align: center;
}

/*navegacion derecha*/
/* #fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid orange;
} */

#fp-nav ul li a.active span{
    background:orange;
    width: 30px;
    height: 30px;
}
#fp-nav ul li div.fp-tooltip  {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*..................................................*/
/*POSICICON DEL TEXTO INFORMATIVO*/
/*..................................................*/
/*MERCURIO*/
#titulomercurio{
    position: absolute;
    color: #E3F6BB;
    font-family: Terano Regular;
    font-size: 40px;
    font-weight: 400;
    right: 18%;
    top: 20%;
}

/*..................................................*/
/*TITULOS DE LOS PLANETAS*/
/*..................................................*/
.sistemasolarcentral{
    position:absolute;
    top: 3%;
    left:2%;
    font-size: 15px;
    font-family:nebula;
}
/*......................................*/
/*POSICION PLANETAS EN MODELO 3D*/
/*......................................*/
#tamañomercurio{
    position: absolute;
    left: 7%;
    top: 15%;
}
#tamañovenus{
    position: absolute;
    right: 10%;
    top: 15%;
    
}
#tamañotierra{
    position: absolute;
    left: -15%;
    top:5%;
}
#tamañoluna{
    position: absolute;
    left: 45%;
    top:15%;
}
#tamañomarte{
    position: absolute;
    right:5%;
    top: -10%;
}
#tamañojupiter{
    position: absolute;
    top: 3%;
    left: -4%;
}
#tamañosaturno{
    position: absolute;
    left: -20%;
    top: -20%;
}
#tamañourano{
    position: absolute;
    left: -5%;
    top: 20%;
}
#tamañoneptuno{
    position: absolute;
    right: 8%;
    top: 10%;
}
/*......................................*/
/*TAMAÑO DE LOS PLANETAS*/
/*......................................*/
#tamañomercurio{
    height: 450px;
    width: 450px;
    margin:0;
    padding:0;
}
#tamañovenus{
    margin: 0;
    padding: 0;
    height: 450px;
    width: 450px;
}
#tamañotierra{
    margin: 0;
    padding: 0;
    height:600px;
    width:600px;
}
#tamañoluna{
    margin:0;
    padding: 0;
    height:50px;
    width: 50px;
}
#tamañomarte{
    margin: 0;
    padding: 0;
    height:750px;
    width: 750px;
}
#tamañojupiter{
    margin: 0;
    padding: 0;
    height: 600px;
    width: 600px;
}
#tamañosaturno{
    margin: 0;
    padding: 0;
    height: 900px;
    width: 900px;
}
#tamañourano{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 500px;
}
#tamañoneptuno{
    margin: 0;
    padding:0;
    height: 500px;
    width: 500px;
}
/*.................................*/
/*POSICION DE LAS CARACTERISTICAS*/
/*................................*/

LI{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cam{
    position: absolute;
    left: 10%;
    bottom: 16%;
}
#cav{
    position: absolute;
    left: 63%;
    bottom: 12%;
}
#cav1{
    position: absolute;
    left: 10%;
    bottom: 14%;
}
#cat0{
    position: absolute;
    left: 64%;
    bottom: 12%;
}
#cat1{
    position: absolute;
    left: 9%;
    bottom: 11%;
}
#cama{
    position: absolute;
    left: 67%;
    bottom: 15%;
}
#cama1{
    position: absolute;
    left: 9%;
    bottom: 20%;
}
#caj{
    position: absolute;
    left: 60%;
    bottom: 11%;
}
#caj1{
    position: absolute;
    left: 9%;
    bottom: 9%;
}
#cas{
    position: absolute;
    left: 62%;
    bottom: 11%;
}
#cas1{
    position: absolute;
    left: 10%;
    bottom: 8%;
}
#cau{
    position: absolute;
    left: 64%;
    bottom: 12%;
}
#cau1{
    position: absolute;
    left: 11%;
    bottom: 9%;
}
#can{
    position: absolute;
    left: 65%;
    bottom: 10%;
}

/*....................................*/
/*ANIMACIONES PARA LAS CARACTERISTICAS*/
/*....................................*/

/*Hover underline animation*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}